@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-[#121212];
  }
  body::-webkit-scrollbar {
    @apply bg-neutral-200 dark:bg-neutral-700 w-4;
  }
  
  body::-webkit-scrollbar-thumb {
    border: 2px solid rgba(0,0,0,0);
    @apply rounded-md bg-clip-padding dark:bg-neutral-500 bg-neutral-400 border-[3px];

  }
  ::selection {
    @apply bg-neutral-800 dark:bg-neutral-200; 
    @apply text-white dark:text-black;
  }
  ::-moz-selection {
    @apply bg-neutral-800 dark:bg-neutral-200;
    @apply text-white dark:text-black; 
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

